
@model List<GymManager.Core.Members.Member>

@{

    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="container">
    <h1>Welcome to Fitness Gym</h1>

    @await Html.PartialAsync("~/Pages/Shared/_MemberList.cshtml",Model)
</div>
