@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>CUSTOMERS LIST</title>
    
</head>
<body>
    <h1>Customers List</h1>
    <br />
    <p>Content of the customers list:</p>
    <hr />
    <ul id="customersList"></ul>

  <script src="~/CustomerArrayJS.js"></script>

</body>
</html>
